{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}





<section class="delivery-section">
    <div class="container">
      <h1>Livraison Live Puri</h1>
      <p>Si vous passez votre commande avant 16h les jours ouvrables, nous expédierons votre commande le jour même. Dans 99% des cas vous recevrez votre colis le lendemain. Nous expédions toutes les commandes avec notre partenaire DHL. Nous optons donc pour une livraison fiable (à vélo, en scooter électrique ou en camionnette) ainsi que pour des livreurs souriants qui livrent votre commande en bon état et de la manière la plus neutre possible sur le plan climatique.</p>
  
      <h2>🚚 Maintenant temporairement expédié pour 2,95€ !</h2>
      <p>Un tarif temporaire de 2,95 euros s'applique pour l'expédition vers un point de service DHL. Ce tarif est valable pour les Pays-Bas, la Belgique, la France et l'Allemagne ! Pour les envois à domicile, 3,95 euros sont facturés pour les commandes inférieures à 60 euros.</p>
  
      <h2>📦 Expédition aux Pays-Bas</h2>
      <p>
        Vous payez un supplément à partir de 60 euros Live Puri livraison gratuite. Si vous commandez moins, vous payez 3,95 euros pour l'emballage et l'expédition de votre colis à votre domicile.
        Votre colis sera généralement livré sous 1 jour ouvrable.
      </p>
      <ul>
        <li>Commandes avant 16h → expédiées le jour même</li>
        <li>Code Track & Trace envoyé par e-mail</li>
        <li>1 tentative de livraison à domicile, puis chez un voisin ou point DHL</li>
        <li>Colis non récupéré = retour Live Puri (frais à votre charge)</li>
      </ul>
  
      <h2>🌍 Expédition en Belgique, France et Allemagne</h2>
      <p>
        Livraison gratuite à partir de 60 euros. Sinon, frais de 3,95 euros. Livraison sous 2 à 3 jours ouvrés avec code Track & Trace.
      </p>
      <ul>
        <li>Livraison à domicile une seule fois</li>
        <li>Sinon : voisin, endroit sûr, ou point service DHL</li>
        <li>Colis non récupéré en 1 semaine = retour Live Puri (frais à votre charge)</li>
      </ul>
  
      <h2>🔄 Retours</h2>
      <p>Nous espérons que vous êtes satisfait de votre commande. Si ce n'est pas le cas, contactez-nous dès que possible via <a href="mailto:info@livepuri.nl">info@livepuri.nl</a> ou au 06-48470205. Nous chercherons une solution avec vous.</p>
      <ul>
        <li>Retour possible dans les 14 jours après réception</li>
        <li>Produit non ouvert, dans son emballage d’origine</li>
        <li>Enregistrez votre retour par e-mail avec vos coordonnées, IBAN, produit, et motif (facultatif)</li>
        <li>Frais de retour à la charge du consommateur</li>
        <li>Remboursement sous 14 jours après réception du retour</li>
      </ul>
  
      <p>Adresse pour les retours : <strong>Live Puri, Zocherpad 2, 3822TK Amersfoort</strong></p>
      <p>Plus d'informations dans nos <a href="#">Conditions générales</a>.</p>
    </div>
  </section>
  

  {% endblock %}